<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FirmaTransportowa.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FirmaTransportowa.Properties.Settings.projektCS" connectionString="Data Source=MISZCZ;Initial Catalog=PROJEKT;Integrated Security=True" />
        <add name="FirmaTransportowa.Properties.Settings.PROJEKTConnectionString"
            connectionString="Data Source=MISZCZ;Initial Catalog=PROJEKT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <FirmaTransportowa.Properties.Settings>
            <setting name="id_klienta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="poprawneHaslo" serializeAs="String">
                <value>False</value>
            </setting>
        </FirmaTransportowa.Properties.Settings>
    </userSettings>
</configuration>